@page
@model RazorPagesProject.Pages.Bookings.BookingSummaryModel
@{
}
<div>
    <p>
        Customer Information: @Model.CustomerInfo
    </p>
    <p>
        Booking Information: @Model.BookingInfo
    </p>
    <p>
        Total Price: @Model.Booking.TotalPrice
    </p>
</div>
